* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Chelsea Market', cursive;
	padding: 10% 1% .5% 1%;
	color: 565656;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
}

p {
	padding: 1%;
}

h1 {
	text-align: center;
	font-size: 5em;
	color: #565656;
}

h4 {
	text-align: center;
	color: #565656;
}

img {
	width: 100%;
}

.charlie-pix {
	max-width: 400px;
	max-height: 500px;
}

.my-story {
	display: flex;
	justify-content: center
}

.my-story-1 {
	display: flex;
	flex-direction: row-reverse;
}
.my-story,
.my-story-1,
.my-breed,
.my-life {
	/*aircraft white*/
	background-color: #edf2f8;
	opacity: .7;
	margin: 2%;
}

aside h3{
	text-align: center;
	padding: 1%;
}
/* Hamburger Menu =========================*/
body{
  font-family: 'Quicksand', sans-serif;
	margin:0;
	width:100%;
	height:100vh;
  	background:#ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
header{
	width:100%;
  background: #f2f2f3;
	height:60px;
	line-height:60px;
	border-bottom:1px solid #dddddd;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

/*.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}*/
header{display:inline-block; font-size:12px;}
span{padding-left:20px;}
a{color:#336699;}
/* END HAMBURGER =====================*/

.desktop {
	display: none;
}

/* Related demos */
.related {
	padding: 6em 1em;
	font-size: 120%;
}

.related > a {
	border: 1px solid #4f7f90;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
}

.related a:hover {
	border-color: #39545e;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.2em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

/*@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}*/

.grid {
	overflow: hidden;
	margin: 0;
	padding: 3em 0 0 0;
	width: 100%;
	list-style: none;
	text-align: center;
}


/* Common style */
.grid figure {
	position: relative;
	z-index: 1;
	/*display: inline-block;*/
	overflow: hidden;
	margin: -0.135em;
	max-width: 400px;
	/*width: 33.333%;*/
	height: 400px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
/*---------------*/
/***** Sarah *****/
/*---------------*/

figure.effect-sarah {
	background: #ffcccc;
}

figure.effect-sarah img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {
	text-align: left;
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/* *****END SARAH EFFECT ******/
/*****INSTAGRAM FEED******/

/******END INSTA FEED******/
.logo {
	width: 100%;
	max-width: 125px;
}

@media (min-width: 550px) {
	/* ******NAVIGATION *******/
	.menu, .hamburger, .cross {
		display: none;
	}

	.desktop {
		display: inline;
	}
	.indigo {
	  background: #ccccff;
	}

	@import 'https://fonts.googleapis.com/css?family=Raleway';


	div.container {
	  margin: 0 auto;
		padding: .5em 1em 2em 1em;
		text-align: center;
	}

	div.container a
	{
	    color: #FFF;
	    text-decoration: none;
	    font: 20px Raleway;
	    margin: 0px 10px;
	    padding: 10px 10px;
	    position: relative;
	    z-index: 0;
	    cursor: pointer;
	}
	div.topLeftBorders a:before
	{
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 2px;
	    height: 0px;
	    background: #FFF;
	    content: "";
	    opacity: 1;
	    transition: all 0.3s;
	}

	div.topLeftBorders a:after
	{
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 100%;
	    height: 2px;
	    background: #FFF;
	    content: "";
	    opacity: 1;
	    transition: all 0.3s;
	}

	div.topLeftBorders a:hover:before
	{
	    height: 100%;
	}

	div.topLeftBorders a:hover:after
	{
	    opacity: 0;
	    top: 100%;
	}
	/* *******END NAV *********/

@media (min-width: 900px) {
	.grid figure {
		display: inline-block;
		width: 33.333%;
}

#instafeed {
  max-width:900px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

	a {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
  background: white;
	}
